{%- set shared_menu_en = [
        {
            'name':
            'Docs',
            'children': [
                {
                    'name': 'MMCV',
                    'url': 'https://mmcv.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MIM',
                    'url': 'https://openmim.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMAction2',
                    'url': 'https://mmaction2.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMClassification',
                    'url':
                    'https://mmclassification.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDetection',
                    'url': 'https://mmdetection.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDetection3D',
                    'url': 'https://mmdetection3d.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMEditing',
                    'url': 'https://mmediting.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMGeneration',
                    'url': 'https://mmgeneration.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMOCR',
                    'url': 'https://mmocr.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMPose',
                    'url': 'https://mmpose.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMSegmentation',
                    'url': 'https://mmsegmentation.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMTracking',
                    'url': 'https://mmtracking.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMFlow',
                    'url': 'https://mmflow.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMFewShot',
                    'url': 'https://mmfewshot.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMHuman3D',
                    'url': 'https://mmhuman3d.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMSelfSup',
                    'url': 'https://mmselfsup.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMRazor',
                    'url': 'https://mmrazor.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDeploy',
                    'url': 'https://mmdeploy.readthedocs.io/en/latest/',
                },
            ]
        },
        {
            'name':
            'OpenMMLab',
            'children': [
                {
                    'name': 'Homepage',
                    'url': 'https://openmmlab.com/'
                },
                {
                    'name': 'Open Platform',
                    'url': 'https://platform.openmmlab.com/'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/open-mmlab/'
                },
                {
                    'name': 'Twitter',
                    'url': 'https://twitter.com/OpenMMLab'
                },
                {
                    'name': 'Zhihu',
                    'url': 'https://zhihu.com/people/openmmlab'
                },
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            '文档',
            'children': [
                {
                    'name': 'MMCV',
                    'url': 'https://mmcv.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MIM',
                    'url': 'https://openmim.readthedocs.io/en/latest/'
                },
                {
                    'name': 'MMAction2',
                    'url': 'https://mmaction2.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMClassification',
                    'url':
                    'https://mmclassification.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMDetection',
                    'url': 'https://mmdetection.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMDetection3D',
                    'url':
                    'https://mmdetection3d.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMEditing',
                    'url': 'https://mmediting.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMGeneration',
                    'url': 'https://mmgeneration.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMOCR',
                    'url': 'https://mmocr.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMPose',
                    'url': 'https://mmpose.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMSegmentation',
                    'url':
                    'https://mmsegmentation.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMTracking',
                    'url': 'https://mmtracking.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMFlow',
                    'url': 'https://mmflow.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMFewShot',
                    'url': 'https://mmfewshot.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMHuman3D',
                    'url': 'https://mmhuman3d.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMSelfSup',
                    'url': 'https://mmselfsup.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMRazor',
                    'url': 'https://mmrazor.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDeploy',
                    'url': 'https://mmdeploy.readthedocs.io/zh_CN/latest/',
                },
            ]
        },
        {
            'name':
            'OpenMMLab',
            'children': [
                {
                    'name': '官网',
                    'url': 'https://openmmlab.com/'
                },
                {
                    'name': '开放平台',
                    'url': 'https://platform.openmmlab.com/'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/open-mmlab/'
                },
                {
                    'name': '推特',
                    'url': 'https://twitter.com/OpenMMLab'
                },
                {
                    'name': '知乎',
                    'url': 'https://zhihu.com/people/openmmlab'
                },
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
